
@{
    Layout = null;
}
<body>
    <noscript>
        You don't have javascript enabled.  Good luck with that.
    </noscript>
    <span></span>
    <script>
        document.querySelector('span').innerHTML += 'Sorry about that, it looks like you do have JavaScript enabled <a href="Index">Return?</a>'
    </script>
</body>